<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Our Website</title>
</head>
<body>
        <div class = "container" style="text-align: center">
            {% include 'navbar.html' %}
            <h1>About our official website</h1>
            <p> About MyApp!
                MyApp is developed with a vision to simplify and enhance the learning experience for students and tech enthusiasts.
                Founded by passionate developers and learners, the platform focuses on providing structured resources, practical tools, 
                and interactive content. Whether you're a beginner or an advanced learner, MyApp bridges the gap between theory and real-world application.
                With personalized student data, curated programs, and a clean user interface, we aim to make learning efficient, engaging, and accessible to all.
            </p>
            <button>Contact Us</button>

        </div> 
    
</body>
</html>