<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
        <div class = "container" style="text-align: center">
            {% include 'navbar.html' %}
            <h1>The services that we provide</h1>
            <p> At MyApp, we offer a range of services designed to support your learning and development journey in technology:
                Student Profile Management:
                Easily manage and update your academic and personal information with a user-friendly interface.
                Program Recommendations:
                Get curated learning paths and suggested programs in areas like Python, Django, AI, and Machine Learning.
                Interactive Learning Tools:
                Engage with practical tools and real-time simulations to boost hands-on skills.
                Progress Tracking:
                Monitor your course completions, performance, and growth over time.
                Community Support:
                Join a network of like-minded learners, share insights, and grow together. 
            </p>
            <button>Contact Us</button>

        </div> 
    
</body>
</html>